@charset "UTF-8";


    	.wrapper{
    		width: 1000px; 
    		height:700px;
    	/* 	margin: 40px; */
    		margin: 10%; 
    		text-align:center; 
    		position: relative; 
    		display: inline-block; 
    		font-family: 'Cormorant Infant', serif;
    		border:solid gray 1px; 
    		padding:20px 5px 200px 5px; 
    		background-color: white; 
    		border:none; 
    		overflow: scroll;
    		font-size:30px;
    		
    		
    	}

    	
    	.wrappertop{
    		width: 1000px; 
    		height:400px;
    	/* 	margin: 40px; */
    		margin: 10%; 
    		text-align:center; 
    		position: relative; 
    		display: inline-block; 
    		font-family: 'Cormorant Infant', serif;
    		border:solid gray 1px; 
    		padding:20px 5px 200px 5px; 
    		background-color: white; 
    		border:none; 
    	
    	}
    	.leftBox{
    		width: 48%;
    		position: relative; 
    		display: inline-block; 
    		
    	}
    	.rightBox{
    		width: 48%;
    		position: relative; 
    		display: inline-block; 
    		vertical-align:top; 
    		
    	}
    	body{		
			background-image: url("https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"); 
			background-repeat: no-repeat;
			background-size: 100% 100%;
			/* opacity: 0.2; */
		}
		.button{
			font-size: 20px; 
			font-family: 'Cormorant Infant', serif;
		}
    	
    	th,td{
    	font-size: 20px; 
    	}
		label{
			font-size:20px; 
		}
		
		
   