@charset "UTF-8";

	.wrapper{
		width:100%; 
		font-size: 20px;
		position: relative; 
  		display: inline-block; 
  		font-family: 'Cormorant Infant', serif;
	}

	form{
		position: relative;   		
		left:50px;	
	}
	
  	.regContainer{
  		width: 650px; 
  		height: 650px; 
  		margin: 40px;
  		margin: 10%; 
  		text-align:center; 
  		position: relative; 
  		display: inline-block; 
  		border:solid gray 1px; 
  		background-color: white; 
  		border:none; 
  		border-radius:100%; 
  		padding:20px	
  	}
  	body{		
	background-image: url("https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"); 
	background-repeat: no-repeat;
	background-size: 100% 100%;
	}
	
	.button{
		font-size: 20px; 
		font-family: 'Cormorant Infant', serif;
	}
	
	.login-container{
	   
	    position: relative; 
	  	display: inline-block; 
	  	vertical-align:top;
	}
	
	#btn,.btn{
	    background-color:#f686a3; 
	    color:white; 
	    /* border-color: #AED6F1;  */
	    border:2px solid #f686a3 ;
	}
	#loginbutton{
		position: relative; 
	  	display: inline-block; 
	  	left:370px;
	 	background-color:#f686a3; 
	 	color:white; 
	 	
	}
	h2, h3{
		color:white;
		
	}
	span{
		color:black
	}

