@charset "UTF-8";


		.wrapper{
			width:100%; 
			font-family: 'Cormorant Infant', serif;
;
		}
		body{
		background-image: url("https://images.unsplash.com/photo-1480511361210-b1b966c8d614?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60"); 
		background-repeat: no-repeat;
		
/* 		 background-attachment: fixed; */

		background-size: 100% 100%;
		background-opacity: 0.2;
		}
		a,p{
		font-size:20px;
		}
		.header{
			height:350px; 
			 background-color:#F9F4F5; 
			 border: none;
			  
		}
		
		
		.content{
			margin: 0% 5%; 
			padding: 20px; 
		}
		.img-wrap{
			max-width:100%;
			max-height:300px;
			margin:  3%; 
		}
		.title{
			text-align: center; 
			margin: 5%; 
		}
		.img-container{}
			max-height:200px;
			
		}
		.img-fluid{
			position: relative; 
		 	float: center; 
		}
		.bottomBox{
			position: relative; 
			display:inline-block;
		}
		
		.rightBox{
			position: relative; 
			display:inline-block;
			width:80%; 
			float:center;
		}
		.leftBox{
			position: relative; 
			display:inline-block;
			max-width:20%;
			float:left; 
		}
		.fa-star{
			color: tan; 
		}
		.card-product{
			border:0px 25% solid black; 
			padding: 7px; 
		}
		a{
			margin: 2px; 
		}
		
		
